<section id="three" class="wrapper style1 fade-up">
  <div class="inner">
      <h2>Будем на связи</h2>
      <p>
        Пишите нам по вопросам сотрудничества, партнерства и любым предложениям.
        Мы отвечаем всем в течение суток.
      </p>
      <div class="split style1">
          <section>
              <form action="https://formspree.io/indigo.interior.club@gmail.com" method="POST">
                  <div class="field half first">
                      <label for="name">Имя</label>
                      <input type="text" name="name" id="name" />
                  </div>
                  <div class="field half">
                      <label for="email">Эл. почта</label>
                      <input type="text" name="email" id="email" />
                  </div>
                  <div class="field">
                      <label for="message">Сообщение</label>
                      <textarea name="message" id="message" rows="5"></textarea>
                  </div>
                  <ul class="actions">
                      <li><a href="" class="button submit">Отправить</a></li>
                  </ul>
              </form>
          </section>
          <section>
              <ul class="contact">
                  <li>
                      <h3>Адрес</h3>
                      <span>ул. Калинина, д. 6<br />
                      Казань, Россия</span>
                  </li>
                  <li>
                      <h3>Эл. почта</h3>
                      <a href="#">indigo.club@mail.ru</a>
                  </li>
                  <li>
                      <h3>Телефон</h3>
                      <span>+7 (903) 343-64-31</span>
                  </li>
                  <li>
                      <ul class="icons">
                          <li>
                              <h3>Мы в Instagram</h3>
                              <a href="https://www.instagram.com/indigo_mebel_club/" class="fa-instagram">
                                  <span class="label">Instagram</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </section>
      </div>
  </div>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=HAxKhDHb4myLMD1LBrY66bZeiPsXEwhV&width=100%&height=450&lang=ru_RU&sourceType=constructor&scroll=true"></script>
</section>
